<footer>
  <ul>
    <li>Current year: <%= current_year %></li>
    <li>Author: Maxim Ryabov</li>
    <li><%= github_url(author: 'Franerial', repo: 'TestGuru') %></li>
    <li><a href="https://thinknetica.com" target=_blank> Educational project for online school Thinknetica </a></li>
  </ul>
</footer>
