<footer>
<ul>
  <li>Current year: <%= current_year %></li>
  <li>Author: Maxim Ryabov</li>
  <li> <%= link_to "Project repository", github_url("Franerial", "TestGuru"), target: "_blank" %> </li>
  <li><a href="https://thinknetica.com" target=_blank> Educational project for online school Thinknetica </a></li>
</ul> 
</footer>