<h1>About#index</h1>
<p>Данное приложение предназначено для создания и выполнения тестов. Вы можете как создавать и редактировать
    свои собственные тесты, так и выполнять тесты других участников, делиться результатами в соц сетях и тд.
</p>

<h4><a href="https://thinknetica.com/">Ссылка на сайт онлайн школы Thinknetica</a></h4>